shiny
htmltools
shinywidgets
shinylive
plotly
spotipy
python-dotenv
pandas
requests
numpy
seaborn
matplotlib
scipy
openai
librosa
yt_dlp
datetime
faicons
shinywidgets
wordcloud
plotly.express
Jinja2
scikit-learn
astor
